# Build
*.a
*.o
*.so
/pkg
mkmf.log

# Bundler Trash
*/.bundle
**/*/.bundle
vendor/bundle
Gemfile.lock

# Database
config/database.yml
db/*.sqlite3

# Foreman
Profile.user

# Redis
*.rdb

# Tests & Doc
.yardoc
_yardoc
doc
coverage

# Config
config

# RVM specific files
.rvmrc
.ruby-gemset
.ruby-version

# Vagrant & Chef
.vagrant
package.box
chef/tmp/**/*
chef/cookbooks/**/*

# OS Trash
**/*/.DS_Store
*/.DS_Store
.DS_Store
.idea
.sass-cache

# Debug
console
todo
debug
drafts
references

# Log
log

# Tmp
tmp
